    {
      "contains": {
        "type": "object",
        "description": "${description}",
        "properties": {
          "tag": {
            "enum": ${synonyms}
          },
          "value": ${attribute_type},
          "unit": {
            "type": "string"${units}
          }
        },
        "required": [
          "tag",
          "value"
        ]
      },
      "minContains": ${required},
      "maxContains": 1,
      "recommended": ${recommended}
    }